/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@use "../shared/style";

.zetkin-survey-title {
	font-size: var(--wp--preset--font-size--large, 2rem);
	margin-bottom: 2rem;
}

.zetkin-survey {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.zetkin-survey-text__header {
	font-size: var(--wp--preset--font-size--medium, 1.125rem);
	font-weight: 400;
	margin: 0.5rem 0 0;
}

.zetkin-survey-text__content {
	font-weight: 300;
	margin: 0.5rem 0 0;
}

.zetkin-survey-question__label {
	font-size: var(--wp--preset--font-size--medium, 1.125rem);
	font-weight: 400;
	margin: 0;
}

.zetkin-survey-question__description {
	font-weight: 300;
	margin: 0;
}

.zetkin-survey-question__input {
	margin: 1rem 0 0;
	width: 100%;
}

.zetkin-survey-question__textarea {
	box-sizing: border-box;
	margin: 1rem 0 0;
	resize: none;
	width: 100%;
}

.zetkin-survey-question__options {
	display: flex;
	flex-direction: column;
	margin: 0.5rem 0 0;
	padding: 0;
	gap: 0.5rem;
}

.zetkin-survey-question__option {
	align-items: center;
	background-color: color-mix(in srgb, var(--wp--preset--color--base, #fff) 95%, #000 5%);
	border-radius: 5rem;
	cursor: pointer;
	display: flex;
	gap: 0.5rem;
	padding: 0.5rem;

	&:hover {
		background-color: color-mix(in srgb, var(--wp--preset--color--base, #fff) 90%, #000 10%);
	}
}

.zetkin-survey-question__select {
	margin: 1rem 0 0;
	width: 100%;
}

.zetkin-survey-signature__description {
	font-size: var(--wp--preset--font-size--medium, 1.125rem);
	font-weight: 400;
	margin: 0 0 1rem;
}

.zetkin-survey-signature {

	.zetkin-survey-question__label {
		display: block;
		font-size: var(--wp--preset--font-size--small, 1.125rem);
		font-weight: 300;
		margin: 0.5rem 0;
	}

	.zetkin-survey-question__input {
		margin: 0;
	}
}

.zetkin-survey-privacy__title {
	margin: 0 0 0.5rem;
}

.zetkin-survey-privacy__details {
	font-weight: 300;

	p {
		margin: 0.5rem 0 0;
	}
}
