.zetkin-submit-button {
	color: var(--wp--preset--color--base, #fff);
	background-color: color-mix(in srgb, var(--wp--preset--color--contrast, #000) 95%, #fff 5%);
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
	font-size: var(--wp--preset--font-size--medium, 1.25rem);
	line-height: 1.5;
	max-width: 150px;
	padding: 0.5rem;
	text-align: center;
	text-decoration: none;

	&:hover,
	&:focus {
		background-color: color-mix(in srgb, var(--wp--preset--color--contrast, #000) 85%, #fff 15%);
	}
}

.zetkin-input {
	border:
		1px solid
		color-mix(in srgb, var(--wp--preset--color--contrast, #000) 95%, #fff 5%);
	border-radius: 0.25rem;
	box-sizing: border-box;
	padding: 1rem 0.75rem;
}

.zetkin-select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	/* stylelint-disable-next-line */
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2'%3e%3cpolyline points='6,9 12,15 18,9'%3e%3c/polyline%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.75rem center; /* Respects your padding */
	background-size: 16px;

	border:
		1px solid
		color-mix(in srgb, var(--wp--preset--color--contrast, #000) 95%, #fff 5%);
	border-radius: 0.25rem;
	box-sizing: border-box;
	padding: 1rem 0.75rem;
}

.zetkin-pagination {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.zetkin-pagination-button {
	background-color: var(--wp--preset--color--base, #fff);
	border: 1px solid var(--wp--preset--color--contrast, #000);
	border-radius: 5rem;
	cursor: pointer;
	height: 2rem;
	line-height: 2.25;
	padding: 0 0.75rem;
	text-align: center;

	&:hover {
		background-color: color-mix(in srgb, var(--wp--preset--color--base, #fff) 90%, #000 10%);
	}
}

.zetkin-pagination-button--selected {
	border: none;
	color: var(--wp--preset--color--base, #fff);
	background-color: color-mix(in srgb, var(--wp--preset--color--contrast, #000) 95%, #fff 5%);

	&:hover,
	&:focus {
		background-color: color-mix(in srgb, var(--wp--preset--color--contrast, #000) 85%, #fff 15%);
	}
}
