.zetkin_calendar_month {
    &__name {
        background: rgba(255, 255, 255, 0.5);
        padding: 8px;
    }
}

.zetkin_calendar_day {
    display: flex;
    font-size: 13px;
    margin-top: 10px;

    &__image {
        width: 200px;
        margin-right: 10px;

        img {
            width: 100%;
        }
    }

    &__meta {
        flex: 1;
    }
}