/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.zetkin-calendar-events {
	list-style: none;
	padding: 0;
}

.zetkin-events-filter {
	align-items: center;
	display: flex;
	gap: 0.5rem;
}

.zetkin-events-filter__button {
	background-color: var(--wp--preset--color--base, #fff);
	border: 1px solid var(--wp--preset--color--contrast, #000);
	border-radius: 5rem;
	cursor: pointer;
	height: 2rem;
	line-height: 2.25;
	padding: 0 0.75rem;

	&:hover {
		background-color:
 color-mix(in srgb, var(--wp--preset--color--base, #fff) 90%, #000 10%);
	}
}

.zetkin-events-filter__button.zetkin-events-filter__button--selected,
.zetkin-events-filter__clear-button.zetkin-events-filter__clear-button--visible {
	background-color: var(--wp--preset--color--contrast, #000);
	color: var(--wp--preset--color--base, #fff);

	&:hover {
		background-color:
 color-mix(in srgb, var(--wp--preset--color--contrast, #000) 80%, #fff 20%);
	}

	svg path {
		fill: var(--wp--preset--color--base, #fff);
	}
}

.zetkin-events-filter__button.zetkin-events-filter__clear-button {
	box-sizing: border-box;
	display: none;
	height: 2rem;
	padding: 0.3rem 0.4rem;
	width: 2rem;
}

.zetkin-events-filter__button.zetkin-events-filter__clear-button.zetkin-events-filter__clear-button--visible {
	display: block;
}

.zetkin-events-filter__button.zetkin-events-filter__datepicker-button {
	box-sizing: border-box;
	height: 2rem;
	padding: 0.25rem 0.5rem;
	width: 2.5rem;
}

.zetkin-events-filter__datepicker-input {
	height: 0;
	visibility: hidden;
	width: 0;
}

.zetkin-event {
	background-color:
 color-mix(in srgb, var(--wp--preset--color--base, #fff) 50%, #fff 50%);
	border:
		1px solid
		color-mix(in srgb, var(--wp--preset--color--base, #fff) 95%, #000 5%);
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	margin-bottom: 1rem;
	padding: 1rem;

	* {
		margin: 0;
	}
}

.zetkin-event__title {
	font-size: var(--wp--preset--font-size--medium, 1.125rem);
	font-weight: 700;
	margin-bottom: 0.25rem;
}

.zetkin-event__project,
.zetkin-event__time,
.zetkin-event__location {
	font-size: var(--wp--preset--font-size--small, 1.125rem);
}

.zetkin-event__row {
	align-items: center;
	display: flex;
	gap: 0.25rem;

	svg {
		width: 1.5rem;
	}
}

.zetkin-event__sign-up {
	color: var(--wp--preset--color--base, #fff);
	background-color:
 color-mix(in srgb, var(--wp--preset--color--contrast, #000) 95%, #fff 5%);
	border-radius: 0.25rem;
	cursor: pointer;
	margin-top: 1rem;
	max-width: 150px;
	padding: 0.5rem;
	text-align: center;
	text-decoration: none;

	&:hover,
	&:focus {
		background-color:
 color-mix(in srgb, var(--wp--preset--color--contrast, #000) 85%, #fff 15%);
	}
}
