/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@use "../shared/style";

.zetkin-calendar-events {
	list-style: none;
	padding: 0;
}

.zetkin-events-filter {
	align-items: center;
	display: flex;
}

.zetkin-events-filter__button {
	background-color: var(--wp--preset--color--base, #fff);
	border: 1px solid var(--wp--preset--color--contrast, #000);
	border-radius: 5rem;
	cursor: pointer;
	height: 2rem;
	line-height: 2.25;
	padding: 0 0.75rem;
	margin-right: 0.5rem;

	&:hover {
		background-color: color-mix(in srgb, var(--wp--preset--color--base, #fff) 90%, #000 10%);
	}
}

.zetkin-events-filter__button.zetkin-events-filter__button--selected,
.zetkin-events-filter__clear-button.zetkin-events-filter__clear-button--visible {
	background-color: var(--wp--preset--color--contrast, #000);
	color: var(--wp--preset--color--base, #fff);

	&:hover {
		background-color: color-mix(in srgb, var(--wp--preset--color--contrast, #000) 80%, #fff 20%);
	}

	svg path {
		fill: var(--wp--preset--color--base, #fff);
	}
}

.zetkin-events-filter__button.zetkin-events-filter__clear-button {
	box-sizing: border-box;
	display: none;
	height: 2rem;
	padding: 0.3rem 0.4rem;
	width: 2rem;
}

.zetkin-events-filter__button.zetkin-events-filter__clear-button.zetkin-events-filter__clear-button--visible {
	display: block;
}

.zetkin-events-filter__button.zetkin-events-filter__datepicker-button {
	box-sizing: border-box;
	height: 2rem;
	padding: 0.25rem 0.5rem;
	width: 2.5rem;
}

.zetkin-events-filter__button.zetkin-events-filter__datepicker-button.zetkin-events-filter__button--selected {
	line-height: 2.25;
	padding: 0 0.75rem;
	width: auto;
}

.zetkin-events-filter__datepicker-input {
	height: 0;
	position: absolute;
	visibility: hidden;
	width: 0;
}

.zetkin-event-types-filter {
	position: relative;
}

.zetkin-event-types {
	background-color: color-mix(in srgb, var(--wp--preset--color--base, #fff) 50%, #fff 50%);
	border:
		1px solid
		color-mix(in srgb, var(--wp--preset--color--base, #fff) 95%, #000 5%);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
	border-radius: 0.25rem;
	display: none;
	flex-direction: column;
	gap: 0.5rem;
	left: 0.5rem;
	list-style: none;
	margin: 0;
	padding: 0.5rem;
	position: absolute;
	top: 50%;
}

.zetkin-event-types--visible {
	display: flex;
}

.zetkin-event-type {
	display: flex;
	gap: 0.25rem;
	white-space: nowrap;
}

.zetkin-event {
	background-color: color-mix(in srgb, var(--wp--preset--color--base, #fff) 50%, #fff 50%);
	border:
		1px solid
		color-mix(in srgb, var(--wp--preset--color--base, #fff) 95%, #000 5%);
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	margin-bottom: 1rem;
	padding: 1rem;

	* {
		margin: 0;
	}
}

.zetkin-event[data-hidden-date] {
	display: none;
}

.zetkin-event[data-hidden-type] {
	display: none;
}

.zetkin-event[data-hidden-page] {
	display: none;
}

.zetkin-event__title {
	font-size: var(--wp--preset--font-size--medium, 1.125rem);
	font-weight: 700;
	margin-bottom: 0.25rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.zetkin-event__project,
.zetkin-event__time,
.zetkin-event__location {
	font-size: var(--wp--preset--font-size--small, 1.125rem);
}

.zetkin-event__row {
	align-items: center;
	display: flex;
	gap: 0.25rem;

	svg {
		width: 1.5rem;
	}
}

.zetkin-event__sign-up {
	margin-top: 0.5rem;
}
